extends layout 

block content 
    h1= title 


    - let peacockid = toShow._id 
    - let peacock_species = toShow.peacock_species 
    - let feather_color  = toShow.feather_color
    - let age = toShow.age 


    div.row(class='mb-2') 
        div.mr-1 ID is 
        div #{peacockid} 
    - let actionid = "/resource/peacock/" + peacockid 
    form(id='peacockForm', action= actionid, method="PUT") 
        div.form-group 
            label.peacockAttr(for='peacock_species')  peacock species
            input#peacock_species(type='text' name='peacock_species', value= peacock_species ) 
        div.form-group 
            label.peacockAttr(for='feather_color') peacock color 
            input#feather_color(type='text' name='feather_color', value= feather_color ) 
        div.form-group 
            label.peacockAttr(for='age') peacock  age 
            input#age(type='number' name='age', value= age ) 
        input(type="submit") 


    script. 
        document.forms['peacockForm'].addEventListener('submit', (event) => { 
            event.preventDefault(); 
            // TODO do something here to show user that form is being submitted 
            fetch(event.target.action, { 
                method: 'PUT', 
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
            }).then((resp) => { 
                return resp.json(); // or resp.text() or whatever the server sends 
            }).then((body) => { 
                alert("Update succeded") 
                // TODO handle body 
            }).catch((error) => { 
                // TODO handle error 
                alert("Update failed " + error ) 
            }); 
        });