extends layout

block content
  -
   let results =[
      {
        "peacock_species": " Indian peafoul",
        "feather_color": "brightblue",
        "age": 1
      },
      {
        "peacock_species": " Green peafoul",
        "feather_color": "Green",
        "age": 2
      },
      {
        "peacock_species": " Indian peafoul",
        "feather_color": "brightblue",
        "age": 3
      },
      {
        "peacock_species": " Congo peafoul",
        "feather_color": "emrald green",
        "age": 5
      },
      {
        "peacock_species": " White peafoul",
        "feather_color": "White",
        "age": 1
      }
    ]
  h1= title
  .container-fluid 
    .row 
    
      each peacock in results
        div(class="col-sm-2" style=`border:solid 5px Green` onclick=`buy(${results.indexOf(peacock)})`) 
          each value,key in peacock  
            = key + " : " + value
            